<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="server=127.0.0.1;database=IcanYunPan;uid=user;pwd=xxxxxx;Min Pool Size=1" providerName="System.Data.SqlClient" />
    <!--<add name="MongoConnectionString" connectionString="10.104.15.30:40000" />-->

    <add name="MongoConnectionString" connectionString="fengweiwin:20722,fengweiwin:20721,fengweiwin:20720" />
  </connectionStrings>
  <appSettings>
    <add key="MongoDBName" value="Test" />
    <add key="ChunkSize" value="261120" />

    <add key="FileSavePath"  value="c:\A"/>

    <add key="FileId" value="56a6eda2c6a76910844dfe25"/>

    <add key="WordUrl" value="http://192.168.16.98/we/wordeditorframe.aspx?WOPISrc=http://localhost:9111/wopi/files/{0}&amp;access_token=111"/>
    <add key="ExcelUrl" value="http://192.168.16.98/x/_layouts/xlviewerinternal.aspx?WOPISrc=http://localhost:9111/wopi/files/{0}&amp;access_token=111"/>
    <add key="PPTUrl" value="http://192.168.16.98/p/PowerPointFrame.aspx?WOPISrc=http://localhost:9111/wopi/files/{0}&amp;access_token=111"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
